body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
}

h1 {
   font-size: 50px;
   color: rgb(8, 8, 8);
}

.span-color {
   color: rgb(186, 186, 7);
}

button {
   color: red;
}

section {
   display: flex;
}

.half-width {
   width: 50%;
   padding-left: 2%;

}

.half-width img {
   width: 80%;

}

a {
   text-decoration: none;
   background-color: orange;
   padding: 10px 40px;
   border-radius: 5px;
   background-image: linear-gradient(yellow, tomato);
   color: white;
   font-weight: 400px;
}

.top-banner {
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}