body {
                    font-family: 'Poppins', sans-serif;
}

h1 {
                    font-size: 50px;
}

h2 {
                    font-size: 30px;
                    color: blueviolet;
}

.span-color {
                    color: orange;
}

.bangla-vai {
                    display: flex;
}

.half-width {
                    width: 50%;
}

.half-width img {
                    width: 70%;
}

.link-button {
                    text-decoration: none;
                    background-image: linear-gradient(yellow, tomato);
                    padding: 10px 40px;
                    border-radius: 5px;
                    color: white;
                    font-weight: 700;

}

.top-banner.png {
                    background-image: url(images/top-banner.png);
                    background-repeat: no-repeat;
}

.Dream-big {
                    background-image: url(images/dream-bg.png);
                    background-repeat: no-repeat;
                    background-position: right;

}

.Exprince {
                    background-image: url(images/exp-bg.png);
                    background-repeat: no-repeat;
                    background-position: left;
}

.experience-item {
                    width: 50%;
                    box-shadow: 5px 5px 20px grey;
                    margin: 5%;
                    padding: 5%;
                    border-radius: 10px;

}

#learning-Web-Developer {
                    border-left: 10px solid tomato;
}

#Pro-Web-Developer {
                    border-left: 10px solid blue;
}

footer p {
                    text-align: center;
                    font-weight: 700;
}